.selected {
    background-color: rgb(222, 241, 80);
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px); /* 9 rows */
    margin-bottom: 30px;
    border: 1px solid #000;
    width: fit-content;
  }

  .cell {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    caret-color: transparent;
  }

  #sumButtons {
    margin-bottom: 20px;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  .cell:focus {
    outline: none;
    background-color: rgb(118, 169, 214);
    border-color: rgb(70, 70, 209);
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  

  .invalid {
    background-color: salmon;
  }

  .cell.invalid:focus {
    outline: none;
    background-color:salmon; 
    border-color: rgb(209, 70, 70);
  }


  /* Add thicker borders to separate 3x3 boxes */
.cell:nth-child(3n+1) {
    border-left: 1px solid #000;
}

.cell:nth-child(3n+3) {
    border-right: 1px solid #000;
}

.cell:nth-child(3n) {
    border-right: 1px solid #000;
}

.cell:nth-child(n+1):nth-child(-n+9),
.cell:nth-child(n+28):nth-child(-n+36),
.cell:nth-child(n+55):nth-child(-n+63) {
    border-top: 1px solid #000;
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54),
.cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 1px solid #000;
}

.hidden {
    display: none;
}

.cell.selected {
    background-color: rgb(222, 241, 80);
}

/* Colors */

.red {
    background-color: rgba(255, 0, 0, 0.6);
  }
  
  .green {
    background-color: rgba(0, 255, 0, 0.6);
  }
  
  .blue {
    background-color: rgba(0, 0, 255, 0.6);
  }
  
  .yellow {
    background-color: rgba(255, 255, 0, 0.6);
  }
  
  .cyan {
    background-color: rgba(0, 255, 255, 0.6);
  }
  
  .magenta {
    background-color: rgba(255, 0, 255, 0.6);
  }
  
  .maroon {
    background-color: rgba(128, 0, 0, 0.6);
  }
  
  .dark-green {
    background-color: rgba(0, 128, 0, 0.6);
  }
  
  .navy {
    background-color: rgba(0, 0, 128, 0.6);
  }
  
  .olive {
    background-color: rgba(128, 128, 0, 0.6);
  }
  
  .purple {
    background-color: rgba(128, 0, 128, 0.6);
  }
  
  .teal {
    background-color: rgba(0, 128, 128, 0.6);
  }
  
  .orange {
    background-color: rgba(255, 165, 0, 0.6);
  }
  
  .indigo {
    background-color: rgba(75, 0, 130, 0.6);
  }
  
  .violet {
    background-color: rgba(238, 130, 238, 0.6);
  }
  
  .saddle-brown {
    background-color: rgba(139, 69, 19, 0.6);
  }
  
  .spring-green {
    background-color: rgba(0, 255, 127, 0.6);
  }
  
  .steel-blue {
    background-color: rgba(70, 130, 180, 0.6);
  }
  
  .khaki {
    background-color: rgba(240, 230, 140, 0.6);
  }
  
  .crimson {
    background-color: rgba(220, 20, 60, 0.6);
  }
  